<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <!-- {% load static %}
    <link rel="stylesheet" src="{% static "main.css" %}"> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">

{% block style %}

{% endblock %}

  </head>
  <body>
    <div id="mainBody">
      <h1 id="name">SAMRAT THAPA</h1>
      <div class="navBar">
        <a class="home" href="{% url 'home:Home' %}">HOME</a>
        <a class="" href="{% url 'home:Projects' %}">Projects</a>
        <a class="" href="#">blu</a>

      </div>



    {% block body %}

    {% endblock %}


    </div>
    <div class="socials">
      <a class="lul" href="https://www.facebook.com/bladesamrat/"><img src="{% static 'images\facebook.png' %}" alt="facebook" ></a>
      <a href="#"><img src="{% static 'images\twitter.png' %}" alt="twitter"></a>
      <a href="https://www.linkedin.com/in/samrat-thapa-7b9aa6157/"><img src="{% static 'images\linkedin.png' %}" alt="linkedin"></a>
      <a href="https://github.com/SamratJK"><img src="{% static 'images\github.png' %}" alt="github"></a>
      <span>Copyright 2021</span>
    </div>


    </div>

    <script src="{% static 'js\main.js' %}">

    </script>
  </body>
</html>
